.display{
    display: block;
    margin: auto;
    height: 400;
    width: 400;
}
.border{
    fill: black;
}
.tile{
    transition: transform .3s, opacity .2s; /**/
}
.hiddenTile{
    display:none;
}
.n1{
    stroke: darkgreen;
    fill: lightgreen;
}
.n2{
    stroke: blue;
    fill: lightblue;
}
.n3{
    stroke: red;
    fill: orange;
}
.n4{
    stroke: orange;
    fill: red;
}
