.display {
    background-color:grey;
    display: inline-block;
    margin: auto;
    width:98%;
    height:94vw;
}
#highScoreSquare{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	height:100%;
	flex-direction: column;
}
#messageInnerContainer{
	top:50%;
	transform:translate(0,-50%);
	position:absolute; 
	margin:auto;
	left:0;
	right:0;
	height:80%;
	width:80%;
}
#focusOverlay{
	display:none;
	opacity: 0;
	background-color:black;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}

#messageDisplayContainer{
	top:0;
	left:0;
	right:5%;
	bottom:10%;
	margin:auto;
	position:absolute;
	background-color:grey;
	border-radius:10px;
	height:50%;
	width:80%;
	box-shadow: 12px 12px 10px #222;
	box-shadow: 10px 10px 5px #444;
	/*transition: opacity .75s;*/
	transition: opacity 3s;
	opacity: 0;/*1   switch between these two to display window*/
	display:none;/*inline*/
}
#highScoreDisplayBox{
	width:40%;
	text-align:center;
	display:flex;
	flex-direction:column;
	box-shadow: 
	  0 1px 2px #fff, /*bottom external highlight*/
	  0 -1px 1px #666, /*top external shadow*/ 
	  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
	  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
#highScoreText{
	font-size:65%;
	text-shadow: 1px 1px 5px white;
}

#textDisplay{
	font-size:150%;
	font-family:arial;
	display:flex;
	height:50%
}
#textDisplayText{
	width:60%;
	margin-top:4%;
	display:flex;
}
#restartInner{
	position: absolute;
	margin:auto;
	left:0;
	right:0;
	margin-top:5%;
	height:40%;
	width:100%;
	font-size:100%;
	font-family:arial;
}
#container{
    text-align: center;
    background-color:darkgoldenrod;
	position:relative;
	width:100%;
}
@media screen and (min-width:750px){
	.container{
		font-size:200%;
	}
}
@media screen and (min-width:1000px){
	.container{
		font-size:250%;
	}
}
    
#buttonsContainer{
    padding-top:5%;
    padding-bottom:5%;
    height:10%;
    background-color:darkgrey;
}
.restartButton{
    width:80%;
    height:100%;
    font-size:200%
}
.border{
    fill: black;
}
.tile{
    transition: transform .15s, opacity .1s;
    stroke: white;
    stroke-width:0px;
    fill:black;
    /*opacity has to be less than transform*/
}
text{
	stroke-width:1px;
	font-family: 'Tauri', sans-serif;
}
.droppingTile{
    transition: transform .5s;
    stroke: white;
    stroke-width:0px;
    fill:black;
}
.n1{
    stroke: #38B00B;
    fill: #B9F349;
}
.n1 .cellText{fill: #38B00B;}
.n2{
    fill: #56BFFC;
    stroke: #0F89FF;
}
.n2 .cellText{fill: #0F89FF;}
.n3{
    stroke: #FF761C;
    fill: #FCC35E;
}
.n3 .cellText{fill: #FF761C;}
.n4{
    stroke: #FFCF99;
    fill: #FE7256;
}
.n4 .cellText{fill: #FFCF99;}

.n5{
    stroke: #7BE89A;
    fill: #009E86;
}
.n5 .cellText{fill: #7BE89A;}
.n6{
    stroke: #C7B6FF;
    fill: #7762FB;
}
.n6 .cellText{fill: #C7B6FF;}
.n7{
    stroke: #FFBDA5;
    fill: #F657C2;
}
.n7 .cellText{fill: #FFBDA5;}
.n8{
    stroke: #FFD1B3;
    fill: #E53046;
}
.n8 .cellText{fill: #FFD1B3;}
.n9{
    stroke: #D15B32;
    fill: #FDF536;
}
.n9 .cellText{fill: #D15B32;}
.n10{
	stroke: #AAA;
	fill: url('#Pattern10');
}
.n10 .cellText{fill: white;}
.n11{
	stroke:#EEE;
	fill: url('#Pattern11');
}
.n11 .cellText{fill:white;}
.n12{
	stroke:#EEE;
	fill: url('#Pattern12');
}
.n12 .cellText{fill:white;}