<html>
	<head>

		<script>
			var isIE=false;
			(function() {
				var ua = window.navigator.userAgent,
					msie = ua.indexOf('MSIE'),
					trident = ua.indexOf('Trident/');
				if((msie > -1 || trident > -1)){
					isIE=true;
				}
			})();

			if (isIE) {
				window.location.replace("/getABetterBrowser");
			}
		</script>
		<link rel="stylesheet" type="text/css" id="styles" href="../css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet"/>
		<!--<script type="text/javascript" src="../js/run.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../restart.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="messageDisplayContainer">
				<div id="messageInnerContainer">
					<div id="textDisplay">
						<div id="textDisplayText">
							No More Matches
						</div>
						<div id="highScoreDisplayBox">
							<div id="highScoreText" >
								High Score
							</div>
							<svg id="highScoreSquare">
							</svg>
						</div>
					</div>
					<div id="innerButtons">
						<button id="restartInner" onclick="location.reload();">Play Again</button>
					</div>
				</div>
			</div>
			<svg id="display" class="display" th:onload="${'window.buildTemplate='+gridNums+'; main();'}">
				
			</svg>
			<div id="buttonsContainer" >
				<button id="save" class="saveButton">save</button>
				<button id="restart" class="restartButton" onclick="location.reload();">restart</button>
			</div>
		</div>
	</body>
</html>
