<html>
	<head>

		<link rel="stylesheet" type="text/css" id="styles" href="../static/css/style.css"/>
		<!--<script type="text/javascript" src="../js/run.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../static/restart.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="messageDisplayContainer">
				<div id="messageInnerContainer">
					<div id="textDisplay">
						<div id="textDisplayText">
							No More Matches
						</div>
						<div id="highScoreDisplayBox">
							<div id="highScoreText" >
								High Score
							</div>
							<svg id="highScoreSquare" height="50px" width="50px">
								<rect height="50px" width="50px"/>
							</svg>
						</div>
					</div>
					<div id="innerButtons">
						<button id="restartInner">Play Again</button>
					</div>
				</div>
			</div>
			<svg id="display" class="display" onload="buildTemplate=[[1,2,2,1,1],[2,3,1,1,2],[1,1,2,2,1],[1,2,1,1,2],[1,3,2,1,1]]; main();">
				
			</svg>
			<div id="buttonsContainer" >
				<button id="save" class="saveButton">save</button>
				<button id="restart" class="restartButton" onclick="location.reload();">restart</button>
			</div>
		</div>
	</body>
</html>
